docs/openshift_container_platform-4.8-installing-en-us.pdf
Journal Continued.odt
website-pxe-instructions-from-internet.odt
Journal.odt
scripts/copy-these-to-tilde-bin
scripts/copyiso.sh
scripts/copyscripts.sh
markdown-notes/scratch-notes-2.md
markdown-notes/scratch-notes.md
configs/install-config.yaml
